*
{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
.audi{
   text-align: center!important;
   font-size: 25px;
   padding: 20px;
   text-decoration: none;
}
.audi:hover{
   color: blue;
   text-decoration: underline;
}
